@charset "UTF-8";

body{
	background: rgb(94,129,172);
background: linear-gradient(90deg, rgba(94,129,172,1) 0%, rgba(136,192,208,1) 79%, rgba(143,188,187,1) 100%);
background-clip:border-box;
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:500;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:system-ui;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#5E81AC;
	color: white;
	border:hidden;
	
	border-radius: 6px;
}

#primary_nav_wrap ul li:hover :not(button):not(input)
{
	background:#81A1C1;
	border:hidden;
	border-radius: 6px;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:150px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

#primary_nav_wrap ul li a {
	color: white;
}



#barre{
	line-height:120%;
	width:300px;
	padding:5px 15px;
	border-color: black;
}

#barre2{
	line-height:120%;
	width:200px;
	padding:5px 15px;
	border-color: black;
}

#musical{
	display:block;
	color: #5E81AC;
	text-shadow:  6px 5px 0px #3d5676;

	text-decoration:none;
	font-weight:700;
	font-size:100px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#table{
	
	color:#8FBCBB;
	text-decoration:none;
	font-weight:700;
	font-size:100px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}


button {
	  background-color: #ECEFF4;
  	  color: black;
  	  border: 3px solid #88C0D0;
  	  border-radius: 12px;
  	  padding: 5px 16px;
  	  text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family:system-ui;
      font-size: 12px;
}


 button:hover {
  background-color: #5E81AC;
 
  color: white;
}


table  {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

table  td {
  border: 1px solid #ddd;
  padding: 8px;
  font-family:"comic sans ms";
  font-size: 12px;
}

table  tr:nth-child(even){background-color: #f2f2f2;}
table  tr:nth-child(odd){background-color: #E5E9F0;}
table  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #434C5E;
  color: white;
}

h1 h3 {
	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4 h5 {
	
	font-family:"comic sans ms";
	color: red;
}
