@charset "UTF-8";

body{
	background-color: #2e3440;
	color: #eceff4;
}

.title{
	font-family:system-ui;
	color: rgb(18, 107, 107);
	
    background: linear-gradient(to right, #36ecde, rgb(18, 107, 107));
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}



.bodyaccueil {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.submitButton {
	font-size: big;
    padding:5px 15px; 
    background:#4c566a; 
	color: #eceff4;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.red-text {
  color: red;
}

.bigButton{
	position: relative;
	top: 250px;
	font-size: big;
    padding:100px 300px; 
    background:#4c566a;
	 color: #eceff4;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size : xx-large;
}

.dangereux{
	font-size: big;
    padding:5px 15px; 
    background:#bf616a;; 
	color: #eceff4;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.corps {
	/*background-color: #2e3440;
	color: #eceff4 ; */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	/*flex-direction: auto;*/
}

.button {
	overflow: hidden;
}

.buttonblock {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.accueil {
	margin-left:10px;
}

.supprimer {
	margin-left: 2px;
}

.inscription .modifCompte  .confirmation {
	margin: auto;
	
}

.visiteur {
	
	margin-left:30px;
}

.modifAvanceeCompte {
	
	margin-left:30px;
}

.form{
	border: 3px solid #88C0D0;
	border-radius:5px;
	font-family:system-ui;
    box-shadow: .4rem .4rem 0 #5E81AC;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  margin-left:5px;
}

.form__field {
	position:relative;
	top:4px;
	
  display:block;
  font-family:system-ui;
  width: 180%;
  border: 3px solid currentColor;
  border-radius: 6px;
  outline: 0;
  font-size: 1rem;
  color: #eceff4;
  padding: 7px 2px;
  background: transparent;
  transition: border-color 0.2s;
  

  /*&::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }*/
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #8FBCBB;
  margin-bottom:10px;
  font-family:system-ui;
 
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #88c0d0,#81a1c1);
  border-image-slice: 1;
}


.form__field:focus .form__label{
	  position: absolute;
	  top: 0;
	  display: block;
	  transition: 0.2s;
	  font-size: 1rem;
	  color: #88c0d0;
	  font-weight:700;    
  }

.form_advanced_modif_button {
	margin-top: 5px;
	
}

legend {
	font-family:system-ui;
	
}


.button {
	  background-color: #ECEFF4;
  	  color: black;
  	  border: 3px solid #88C0D0;
  	  border-radius: 12px;
  	  padding: 5px 16px;
  	  text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family:system-ui;
      font-size: 12px;
}


 .button:hover {
  background-color: #5E81AC;
 
  color: white;
}

/* reset input 
.form__field{
  &:required,&:invalid { box-shadow:none; }
}*/